body {
    background-color: #F4F1EB;
}

.base-color {
    background-color: #F4F1EB;
}

img {
    height: 400px;
    width: 400px;
}

.container-bg {
    background-color: #F4F1EB;
}

.space {
    width: 100%;
    height: 100px;
    background-color: #F4F1EB;

}

h1,
p,
h5 {
    font-family: 'Hanken Grotesk', sans-serif;
}